body {
    background-color: lightgreen;
    font-family: Arial, Arial, Helvetica, sans-serif;
    }
hr.style1 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
    }
h1 {
    text-shadow: 3px 2px green;
}
h2 {
    color: black;
}
ul {
    text-align: center;
    list-style-type: circle;
    list-style-position: inside;
   }
li {
    text-align: center;
    font-style: italic
}
.backgroundimage {
    background: url(alienlanes.jpg) no-repeat;
    background-position: center;
    width:320px;
    height:320px;
}
tr, th {
    font-style: italic;
}


